version : 2.1

jobs:
  build:
    docker:
      - image: circleci/python:3.6
    steps:
      - checkout
      - run:
          name: Run Tests
          command: |
            pip install --no-cache-dir -r requirements.txt

workflows:
  build_and_test:
    jobs:
      - build
